.App {
  text-align: center;
}

.route-container {
  margin-top: 50px;
  margin: 0 auto;
  max-width: 1000px;
}

.header-image {
  height: 30px;
}

.emp-detail {
  margin-top: 20px;
}

.back-button {
  /* float: left; */
  margin: 20px;
}

.ant-layout {
  background: white;
}
