.App {
  /* text-align: center; */
}

.route-container {
  margin-top: 50px;
  margin: 0 auto;
  max-width: 1000px;
}

.header-image {
  height: 30px;
}

.ant-table-row {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
.deposit-form {
  margin-top: 10px;
  margin-bottom: 25px;
}

.emp-detail {
  background: white;
  padding-right: 10px;
}
.about-page {
  margin-top: 50px;
}
.employee-controls {
  margin-top: 15px;
}

.emp-detail {
  margin-top: 20px;
}

.back-button {
  /* float: left; */
  margin: 20px;
}

.about-page div {
  font-size: 20px;
  line-height: 40px;
}
.header-logo {
  height: 40px;
}

.about-image {
  padding: 20px;
  margin-top: 20px;
  height: 475px;
}

.reason-section {
  margin-bottom: 20px;
}

.green-text {
  color: green;
}

.align-left {
  text-align: left;
}

.preview-image {
  height: 75px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.ant-layout {
  background: white !important;
  padding: 10px;
}

.heading {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.upload-text {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}
